# Copyright 2024 NVIDIA CORPORATION
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Image

# Run this workflow on pull requests
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build-image:
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
        dist: [distroless]
    runs-on: linux-${{ matrix.arch }}-cpu4
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v6
        name: Check out code

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Go Proxy
        id: setup-go-proxy
        uses: nv-gha-runners/setup-artifactory-go-proxy@main
      - name: Build image
        env:
          IMAGE_NAME: ghcr.io/nvidia/k8s-driver-manager
          VERSION: ${{ inputs.version }}-${{ matrix.arch }}
          PUSH_ON_BUILD: "true"
          GOPROXY: ${{ steps.setup-go-proxy.outputs.goproxy-url }}
          DOCKER_BUILD_PLATFORM_OPTIONS: "--platform=linux/${{ matrix.arch }}"
        run: |
          echo "${VERSION}"
          make -f deployments/container/Makefile build-${{ matrix.dist }}

  create-manifest:
    needs: build-image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Check out code
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Manifest
        env:
          MULTIARCH_IMAGE: ghcr.io/nvidia/k8s-driver-manager:${{ inputs.version }}
        run: |
          docker manifest create \
            ${MULTIARCH_IMAGE} \
            ghcr.io/nvidia/k8s-driver-manager:${{ inputs.version }}-amd64 \
            ghcr.io/nvidia/k8s-driver-manager:${{ inputs.version }}-arm64
          docker manifest push ${MULTIARCH_IMAGE}
